/* Global Colour Variables */
:root {
  --tealberry: #0060E5;
  --skyberry: #82abe4;
  --lightberry: #EEF2F6;
  --midberry: #B8C6D9;
  --darkberry: #212326;
  --speed: 90ms;
  --radius: 6px;}

@font-face {
  font-family: 'GeistSans';
  src: url('/fonts/GeistVF.woff2') format('woff2');
  font-weight: 500 700;
  font-style: normal;}

html{
  background-color: var(--lightberry);}

body {
  margin: 0;
  font-family: "GeistSans", sans-serif;
  font-weight: 500;
  line-height: 1.33em;
  font-style: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;}

.header-wrapper {
  z-index: 10;
  position: fixed;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0px;
  display: flex; }

.header-logo {
  flex: 1 1 auto; /* Allow the navlist to shrink and grow as needed */
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 8px !important;
  margin-top: 0px !important;
  border-color: var(--midberry) !important;
  border: 1px solid var(--midberry); /* Apply border to all sides */
  border-top: none !important; /* Remove the top border */
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-style: solid;
  background-color: var(--lightberry);
  padding: 14px;
  max-width: 460px;
}

.notice {
  position: fixed;
  transition: var(--speed);
  top: 75px;
  left: 20px;
  text-align: left;
  max-width: 315px;}

.works-wrapper { 
  top: 500px; /* Position halfway down the viewport */
  z-index: 1;
  max-width: 315px;
}

img {
  width: 100%;
}

.logo {
  color: var(--tealberry);
  max-height: 15px;
  flex-shrink: 1;
  justify-content: left;
  align-self: left;
  align-items: left;
  display: block;
}

.navbar {
  z-index: 5;
  position: fixed;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;}

.navlist {
  flex: 1 1 auto; /* Allow the navlist to shrink and grow as needed */
  justify-content: space-between;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 8px !important;
  margin-bottom: 0px !important;
  list-style: none;
  border-color: var(--midberry) !important;
  border: 1px solid var(--midberry); /* Apply border to all sides */
  border-bottom: none !important; /* Remove the bottom border */
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-style: solid;
  background-color: var(--lightberry);
  padding: 12px 16px;
  display: flex;
  flex-direction: row; /* Default to row for larger screens */
  flex-wrap: wrap; /* Allow wrapping */
  width: 100%;
  max-width: 460px;
  display: flex; 
}

.works-wrapper {

}

.works-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.works-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 16px;
  margin-bottom: 20px;
}

.year{
  writing-mode: vertical-rl;
  color: var(--tealberry);
  transform: rotate(180deg);
  font-size: 16px;
  margin-bottom: 20px;
}


.navbutton {
  border-style: none;
  border-radius: var(--radius);
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  padding: 8px 10px;
  font-size: 1em;
  font-family: "GeistSans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--darkberry);
  transition: background-color var(--speed), color var(--speed);
}

.navbutton:hover{
  background-color: var(--midberry);
  color: var(--darkberry);
}

.navbutton.mobile-menu {
  display: none;
  height: 18px;
  text-decoration: none;
}

.cta {
  background-color: var(--tealberry);
  color: var(--lightberry);
  border-radius: var(--radius);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cta:hover{
  background-color: var(--darkberry);
  color: var(--lightberry);
}

.cta:hover{
  background-color: var(--darkberry);
  color: var(--lightberry);
  transition: background-color var(--speed), color var(--speed);
}

h1 {
  font-family: "GeistSans", sans-serif;
  font-weight: 900;
  color: var(--tealberry);
  font-size: 2em;
  line-height: 1em;
  letter-spacing:-1.5px;
  margin: 20px 0;}

.hero {
  max-width: 250px;}
  
p {
  color: #333333;
  font-size: 1em;
  letter-spacing: -0.25px;
  margin: 10px 0;
  word-wrap: break-word;}
  
.linky, .days {
  text-decoration: none;
  background:
  linear-gradient(
    to right,
    var(--lightberry),
    var(--lightberry)
  ),
  linear-gradient(
    to right,
    var(--tealberry),
    var(--tealberry)
);
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size var(--speed);
  color: var(--tealberry);
  font-weight: 900; }

.linky:hover, .days:hover { background-size: 0 1px, 100% 1px; }
  
.days {
  color: var(--tealberry);
  text-decoration: none;
  font-weight: 900;}
  
.email {
  display: inline-block;
  margin-top: 20px;
  color: var(--lightberry);
  background-color: var(--darkberry);
  transition: background-color var(--speed), color var(--speed);
  padding: 10px 20px;
  border-radius: 4px;
  stroke-width: 1px;
  text-decoration: none;
  font-family: "GeistSans", sans-serif;
  font-weight: 600;
  font-style: normal;}
  
.email:hover {
  background-color: var(--tealberry);
  color: var(--lightberry);}

/* Styles for PWA standalone mode */
@media (display-mode: standalone) {
    .navlist { padding-bottom: 40px; /* Padding for navbar */ }
    .header-logo {
      background-color: var(--tealberry);
      padding-top: 50px /* Padding for headbar */ }
    .logo { color: var(--lightberry); }}

@media (max-width: 600px) {
  .notice { left: 20px;}
  p { font-size: 1em; }

@media (max-width: 362px) {
  .navbutton.mobile-menu { display: block; }
  .navbutton { display: none;}
  .navbar { flex-direction: column; /* Stack navbar items vertically */ }
  .navlist { flex-direction: column; /* Stack navlist items vertically */}}}