/* Global Colour Variables */
:root {
  --tealberry: #0060E5;
  --skyberry: #82abe4;
  --lightberry: #EEF2F6;
  --midberry: #B8C6D9;
  --darkberry: #212326;
  --speed: 90ms;
  --radius: 6px;
  --cards: 4;
  --cardHeight:8
}

@font-face {
  font-family: 'GeistSans';
  src: url('/fonts/GeistVF.woff2') format('woff2');
  font-weight: 500 700;
  font-style: normal;
}

html{
  background-color: var(--lightberry);
}

body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100vh;
  margin: 0;
  font-family: "GeistSans", sans-serif;
  font-weight: 500;
  line-height: 1.33em;
  font-style: bold;
  justify-content: center;
  align-items: center;
}

.header-wrapper, .nav-wrapper {
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container, .nav-container, .works-container, .hero-container {
  flex-grow: 1; /* New property */
  max-width: 460px !important;
  box-sizing: border-box;
  max-width: 100%; /* Set the initial max-width to 100% */
  margin: 0;
}

.header-wrapper {
  position: sticky;
  top: 0;
}

.header-container {
  border: 1px solid var(--midberry);
  border-top: none;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: var(--lightberry);
  padding: 14px;
}

.hero-container {
  transition: var(--speed);
  padding-left: 8px;
}

.nav-wrapper {
  position: fixed;
  bottom: 0;
}

.nav-container {
  flex: 1 1 auto;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 4px;
  list-style: none;
  border: 1px solid var(--midberry);
  border-bottom: none;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--lightberry);
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  color: var(--tealberry);
  max-height: 15px;
  flex-shrink: 1;
  justify-content: left;
  align-self: left;
  align-items: left;
  display: block;
}

img {
  max-width: 100%; /* Ensures the image scales down to fit the container */
  height: auto; /* Maintains the aspect ratio of the image */
  display: block; /* Removes any extra space below the image */
}

.works-wrapper {
  position: relative;
  max-width: 460px;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  scrollbar-width: none;
}

.works-wrapper::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in Chrome, Safari and Edge */
}

.works-container {
  position: sticky;
  top: 0; /* This will make the item stick to the top of the container */
  flex-grow: 1;
  display: flex;
  gap: 8px;
  border-radius: var(--radius);
  flex-direction: column-reverse;
  justify-content: space-evenly;
  background-color: var(--lightberry);
  z-index: 1; /* This will make the item appear above the others when scrolling */
}

.works-info{
  gap: 16px;
  display: flex;
  padding: 6px 8px;
  background-color: var(--lightberry);
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--midberry);
  border-radius: var(--radius);
}

.works-img {
  max-width: 460px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--radius);
  border: 1px solid var(--midberry);
}

.works-info-text {
  margin: 0;
  flex-direction: row;
}

.works-info-text.year {
  color: var(--tealberry);
  font-size: 16px;
}

.navbutton {
  border-style: none;
  border-radius: var(--radius);
  flex: 1 1 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  padding: 8px 10px;
  font-size: 1em;
  font-family: "GeistSans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--darkberry);
  transition: background-color var(--speed), color var(--speed);
}

.navbutton:hover{
  background-color: var(--midberry);
  color: var(--darkberry);
}

.navbutton.mobile-menu {
  display: none;
  height: 18px;
  text-decoration: none;
}

.cta {
  background-color: var(--tealberry);
  color: var(--lightberry);
  border-radius: var(--radius);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cta:hover{
  background-color: var(--darkberry);
  color: var(--lightberry);
}

.cta:hover{
  background-color: var(--darkberry);
  color: var(--lightberry);
  transition: background-color var(--speed), color var(--speed);
}

h1 {
  font-family: "GeistSans", sans-serif;
  font-weight: 900;
  color: var(--tealberry);
  margin-top: 0px !important;
  font-size: 2em;
  line-height: 1em;
  letter-spacing:-1.5px;
  margin: 20px 0;}
  
p {
  color: #333333;
  font-size: 1em;
  letter-spacing: -0.25px;
  margin: 10px 0;
  word-wrap: break-word;}
  
.linky, .days {
  text-decoration: none;
  background:
  linear-gradient(
    to right,
    var(--lightberry),
    var(--lightberry)
  ),
  linear-gradient(
    to right,
    var(--tealberry),
    var(--tealberry)
);
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size var(--speed);
  color: var(--tealberry);
  font-weight: 900; }

.linky:hover, .days:hover { background-size: 0 1px, 100% 1px; }
  
.days {
  color: var(--tealberry);
  text-decoration: none;
  font-weight: 900;}
  
.email {
  display: inline-block;
  margin-top: 20px;
  color: var(--lightberry);
  background-color: var(--darkberry);
  transition: background-color var(--speed), color var(--speed);
  padding: 10px 20px;
  border-radius: 4px;
  stroke-width: 1px;
  text-decoration: none;
  font-family: "GeistSans", sans-serif;
  font-weight: 600;
  font-style: normal;}
  
.email:hover {
  background-color: var(--tealberry);
  color: var(--lightberry);}

/* Styles for PWA standalone mode */
@media (display-mode: standalone) {
    .nav-container { padding-bottom: 40px; /* Padding for navbar */ }
    .header-container {
      background-color: var(--tealberry);
      padding-top: 50px /* Padding for headbar */ }
    .logo { color: var(--lightberry); }}

/* Media Queries */

@media (max-width: 460px) {
  .header-container, .nav-container, .works-container, .hero-container {
    flex-grow: 1; /* New property */
    max-width: 460px !important;
    box-sizing: border-box;
    max-width: 100%; /* Set the initial max-width to 100% */
    margin: 0 8px !important; /* Add 8px margin on the sides */
  }
}

@media (max-width: 600px) {
  p {
    font-size: 1em;
  }

@media (max-width: 362px) {
  .navbutton.mobile-menu {
    display: block;
  }
  .navbutton {
    display: none;
  }
}}