/*Global Colour Variables */
:root {
  --tp-teal: #0060E5;
  --tp-lightberry: #EEF2F6;
  --tp-darkberry: #212326;
}

html{
  background-color: var(--tp-lightberry);
}

body {
    margin: 0;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: left;
    max-width: 233px;
  }
  
  .logo {
    color: var(--tp-teal);
  }
  
  h1 {
    color: var(--tp-teal);
    font-size: 2em;
    letter-spacing:-0.75px;
    margin: 20px 0;
  }
  
  p {
    color: #333333;
    font-size: 1em;
    letter-spacing: -0.25px;
    margin: 10px 0;
    word-wrap: break-word;
  }
  
  .handle {
    color: var(--tp-teal);
    text-decoration: none;
  }
  
  .days {
    color: var(--tp-teal);
  }
  
  .email {
    display: inline-block;
    margin-top: 20px;
    color: var(--tp-lightberry);
    background-color: var(--tp-darkberry);
    transition: background-color 90ms, color 90ms;
    padding: 10px 20px;
    border-radius: 4px;
    stroke-width: 1px;
    text-decoration: none;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .email:hover {
    background-color: var(--tp-teal);
    color: var(--tp-lightberry);
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  
    h1 {
      font-size: 1.5em;
    }
  
    p {
      font-size: 1em;
    }
  
    .email {
      font-size: 0.9em;
    }
  }